* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgb(66, 103, 178);
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.facebook-logo {
  width: 170px;
}

.section-login {
  display: flex;
  justify-content: flex-end;
}

.section-login label {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 12px;
  padding: 5px 0;
}

.section-login a {
  color: #9cb4d8;
  text-decoration: none;
  font-size: 12px;
  padding-top: 5px;
}

.facebook-login {
  display: flex;
  justify-content: space-around;
}

#button-login {
  background-color: #4267b2;
  border: solid 1px #29487d;
  border-radius: 2px;
  font-weight: 900;
  padding: 2px 6px;
  color: white;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-right: 15px;

}

.form-control {
  align-self: flex-end;
}

.full-name {
  display: flex;
}

div input {
  width: 140px;
}

.main-content {
  display: flex;
}

.left-content {
  width: 800px;
}

.right-content {
  width: 300px;

  /* Avaliar melhor propriedade para o justify-content */
  justify-content: center;
}

#gender-custom {
  display: none;
}
